html,
body,
.map-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    position: absolute;
    left: 0;
    top: 0;
}

.map {
    width: 100%;
    height: 100%;
}

.search-container {
    width: 100%;
    top: 10px;
    z-index: 5;
    position: absolute;
}

.search-container input {
    height: 20px;
    width: 99%;
    margin: 0 0.5%;
    line-height: 20px;
    font-size: 20px;
}

.list-button-container {
    z-index: 10;
    position: absolute;
    top: 12px;
    right: 0.5%;
}

.list-button-container .list-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.location-list-container {
    top: 40px;
    right: 0;
    z-index: 5;
    position: absolute;
    background: #ffffff;
    height: 95%;
    width: 200px;
    overflow-y: auto;
}

.toggled {
    display: none;
}

.location-list-container .location-list {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
}

.location-list li {
    word-wrap: break-word;
    margin: 15px 0;
    cursor: pointer;
}

.filtered {
    display: none;
}

@media only screen and (min-width: 1051px) {
    .location-list-container {
        display: block;
        width: 15%;
        height: 90%;
        border-radius: 5px;
    }

    .location-list li {
        margin: 10px 0;
    }

    .search-container input {
        width: 99%;
    }

    .list-button-container .list-button {
        display: none;
    }
}
