.main-container{
  display: flex;
  flex-wrap: wrap;
}

.search-container{
  width: 100%;
  margin-bottom: 5px;
}

.search-container input{
  height: 20px;
  width:100%;
}

.location-list li{
  word-wrap: break-word;
  margin: 15px 0;
}

.location-list-container{
  width: 100%;
  height:600px;
  overflow-y: auto;
}
.map-container{
  width:100%;
}

.map{
  width:100%;
  height:600px;
}

.filtered{
  display: none;
}

/* Rendering List and Map side by side when on big screen*/
@media only screen and (min-width: 1051px) {
  .location-list-container{
    width: 15%;
  }
  .location-list li{
    margin: 10px 0;
  }
  .map-container{
    width: 85%;
  }
}
